<mat-toolbar class="navbar">
  <span class="brand-name">MyFlix</span>
  <button
    mat-raised-button
    color="primary"
    style="margin-left: 40px"
    (click)="getProfile()"
  >
    Profile
  </button>
  <button
    mat-raised-button
    color="primary"
    style="margin-left: 20px"
    (click)="getProfile()"
  >
    Logout
  </button>
</mat-toolbar>
<div class="flex-container">
  <mat-card *ngFor="let movie of movies; let i = index" class="flex-item">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" class="poster" />
    <mat-card-actions
      ><button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre</button
      ><button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio)"
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="openDescriptionDialog(movie.Title, movie.Description)"
      >
        Synopsis
      </button>
      <button
        *ngIf="!isFav(movie._id)"
        (click)="addFavorites(movie._id)"
        class="button-add-fav"
      >
        <mat-icon class="icon-add-fav">favorite_border</mat-icon>
      </button>
      <button
        *ngIf="isFav(movie._id)"
        (click)="removeFavorites(movie._id)"
        class="button-remove-fav"
      >
        <mat-icon [ngStyle]="{ color: '#4496a3' }" class="icon-remove-fav"
          >favorite</mat-icon
        >
      </button>
    </mat-card-actions>
  </mat-card>
</div>
